<div class="main-container">
    <div *ngIf="!purchaseCompleted">
        <div>
            <p>Обрані товари: </p>
            <div class="product-container">
                <div *ngFor="let product of GetProducts()" class="product-card">
                    <p>Назва: {{product.ProductName}}</p>
                    <p>Кількість: {{product.Amount}}</p>
                    <p>Ціна: {{product.Cost}}</p>
                </div>
            </div>
            <p>Фінальна ціна: {{FinalCost}}</p>
            <p>Ваша адреса для доставки: </p>
            <input type="text" placeholder="Берислав, Херсонська область, Україна">
        </div>
        <div>
            <button (click)="Cancel()" class="action-button">Відмінити</button>
            <button (click)="Buy()" class="action-button">Купити</button>
        </div>
    </div>
    <div *ngIf="purchaseCompleted">
        <p class="completer-text">Вітаємо! Товар успішно придбано.</p>
        <button (click)="Cancel()" class="action-button">Повернутись до магазину</button>
    </div>
</div>