.background-image {
    position: fixed;
    left: 0;
    top: -2%;
    display: block;
    width: 100%;
    height: 18vh;
    filter: blur(5px);
    z-index: 3;
}

.content {
    z-index: 4;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header-component {
    color: white;
    border: #111 2px solid;
    height: 16vh;
    line-height: 130px;
    margin-bottom: 9vh;
}
.band-name {
    font-size: 60px;
    font-family: monospace;
    text-align: center;
}
.btn-outer {
    width: 20%;
    cursor: pointer;
    button {
        display: inline-block;
        background: #ffffff;
        color: #fff;
        padding: 20px 40px;
        margin: 20px;
        transition: all 0.5s;
    }
    &:hover {
        button {
            background: #666;
        }
        .right-button {
            clip-path: polygon(39% 0, 39% 11%, 62% 50%, 39% 90%, 39% 100%, 68% 50%);
        }

        .left-button {
            clip-path: polygon(29% 0, 29% 11%, 6% 50%, 29% 90%, 29% 100%, 0% 50%);
        }
    }
}
.right-button {
    clip-path: polygon(29% 0, 29% 11%, 52% 50%, 29% 90%, 29% 100%, 58% 50%);
}

.left-button {
    clip-path: polygon(39% 0, 39% 11%, 16% 50%, 39% 90%, 39% 100%, 10% 50%);
}
