<div class="nav-component d-flex justify-content-center">
  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>
    <ul class="d-flex justify-content-center nav-main">
        <li><button (click)="navigateTo('information')">Інформація</button></li>
        <li>/</li>
        <li><button (click)="navigateTo('shop')">Магазин</button></li>
        <li>/</li>
        <li><button (click)="navigateTo('contacts')">Контакти</button></li>
      </ul>
</div>