ul {
    width: 60%;
    border-radius: 20px;
}

.nav-component {
    position: fixed;
    top: 15vh;
    left: 0;
    right: 0;
    margin: 0 auto;
}

li {
    margin: 5px;
    font-size: 40px;
    float: left;
    color: white;
    button {
        color: white;
        background: transparent;
        border: none;
        position: relative;
        transition: 0.3s;
        padding-bottom: 10px;
        &:before {
            content: "";
            border-bottom: 1px solid #ffffff;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            transition: 0.3s;
        }
        &:hover:before {
            width: 100%;
            padding: 0;
        }
    }
}
