* {
    margin: 20px;
}

p {
    font-family: "JetBrains Mono", monospace;
    font-size: 22px;
    padding: 5px;
}

#band-map-container {
    height: 30vh; 
    width: 80vw; 
    overflow: hidden;
}

.map-container {
    display: flex;
    justify-content: center;
}